
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Greeting</h1>
        <h2>Join us at the Party</h2>
        <img src="https://cherrypopstudio.files.wordpress.com/2011/07/party.jpg" width="640px" height="480px" />
        <br />
        <div>
            <h3><a asp-action="RsvpForm">RSVP Now</a></h3>
        </div>

    </div>
</body>
</html>
