
@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSVP Form</title>
    <h1>RSVP FORM</h1>
</head>
<body>
</body>
</html>
